.categoryedit{
    flex: 4;
    padding: 20px;
}
.edittitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.edittitle{
    font-size: larger;
    font-weight: 600;
    margin-left: 22px;
}
.editboxtitle{
    margin-left: 1px;
}
.editlabel{
    margin-left: 2px;
}
.editcontainer{
    display: flex;
    margin-top: 20px;
}
.edit{
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: -6px 1px 18px -11px #000000;
    box-shadow: -6px 1px 18px -11px #000000;
    margin-left: 20px;
}
.edititem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.editinputitem{
    border: none;
    width: 250px;
    height: 35 px;
    border-bottom: 1px solid gray;
}
.editsubmit{
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    width: 10%;
    padding: 5px;
    cursor: pointer;
    color: white;
    background-color: blue;
    font-weight: 600;
}
.editsubmit:hover{
    color: yellow;
    font-weight: 400;
}