.review{
    flex: 4;
    padding: 20px;
}
.reviewtitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reviewtitle{
    font-size: larger;
    font-weight: 600;
    margin-left: 20px;
}
.reviewaddButton{
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}
.reviewContainer{
    display: flex;
    margin-top: 20px;
}
.reviewshow{
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: -6px 1px 18px -11px #000000;
    box-shadow: -6px 1px 18px -11px #000000;
}
.reviewupdate{
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: -6px 1px 18px -11px #000000;
    box-shadow: -6px 1px 18px -11px #000000;
    margin-left: 20px;
}
.reviewshowTop{
    display: flex;
    align-items: center;
}
.reviewshowImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.reviewshowTopTitle{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.reviewshowUsername{
    font-weight: 600;
}
.reviewshowUsertitle{
    font-weight: 300;
}
.reviewshowBottom{
    margin-top: 20px;
}
.reviewshowTitle{
    font-weight: 600;
    font-size: 14px;
    color: gray;
}
.reviewShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #444;
}
.reviewshowIcon{
    font-size: 16px !important;
}
.reviewshowInfotitle{
    margin-left: 10px;
}
.reviewupdateTitle{
    font-size: 24px;
    font-weight: 600;
}
.reviewupdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.reviewupdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.reviewupdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}
.reviewupdateInput{
    border: none;
    width: 250px;
    height: 35 px;
    border-bottom: 1px solid gray;
}
.categoryreviewupdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.reviewupdateUpload{
    display: flex;
    align-items: center;
}
.reviewupdateImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}
.reviewupdateIcon{
    cursor: pointer;
}
.reviewupdateButton{
    border: none;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    color: white;
    background-color: blue;
    font-weight: 600;
}
.reviewupdateButton:hover{
    color: yellow;
    font-weight: 400;
}