.owner{
    flex: 4;
    padding: 20px;
}
.ownertitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ownertitle{
    font-size: larger;
    font-weight: 600;
    margin-left: 20px;
}
.owneraddButton{
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}
.ownerContainer{
    display: flex;
    margin-top: 20px;
}
.ownershow{
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: -6px 1px 18px -11px #000000;
    box-shadow: -6px 1px 18px -11px #000000;
}
.ownerupdate{
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: -6px 1px 18px -11px #000000;
    box-shadow: -6px 1px 18px -11px #000000;
    margin-left: 20px;
}
.ownershowTop{
    display: flex;
    align-items: center;
}
.ownershowImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.ownershowTopTitle{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.ownershowUsername{
    font-weight: 600;
}
.ownershowUsertitle{
    font-weight: 300;
}
.ownershowBottom{
    margin-top: 20px;
}
.ownershowTitle{
    font-weight: 600;
    font-size: 14px;
    color: gray;
}
.ownerShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #444;
}
.ownershowIcon{
    font-size: 16px !important;
}
.ownershowInfotitle{
    margin-left: 10px;
}
.ownerupdateTitle{
    font-size: 24px;
    font-weight: 600;
}
.ownerupdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.ownerupdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.ownerupdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}
.ownerupdateInput{
    border: none;
    width: 250px;
    height: 35 px;
    border-bottom: 1px solid gray;
}
.categoryownerupdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ownerupdateUpload{
    display: flex;
    align-items: center;
}
.ownerupdateImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}
.ownerupdateIcon{
    cursor: pointer;
}
.ownerupdateButton{
    border: none;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    color: white;
    background-color: blue;
    font-weight: 600;
}
.ownerupdateButton:hover{
    color: yellow;
    font-weight: 400;
}